<a href="https://colab.research.google.com/github/hgaiji/pythonPractice/blob/master/ChainerStep1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a = [4,8,3,4,1]

In [5]:
#リストの長さを求める
length = len(a)
print(length)

5

In [3]:
#リストの合計を求める
total = sum(a)
print(total)

20

In [4]:
#リストの先頭を取り出す
print(a[1:])

[8, 3, 4, 1]

In [5]:
#リストの末尾を取り出す
print(a[:-1])

[4, 8, 3, 4]

In [6]:
#リストの末尾に100を追加
a[-1]= 100
print(a)

[4, 8, 3, 4, 100]

In [0]:
a = [4,8,3,4,1]
#リストの内包表記

In [12]:
#リストの要素が偶数なら0,奇数なら1に変換
result = [x%2 for x in a]
print(result)

[0, 0, 1, 0, 1]

In [17]:
#上記の結果から奇数の個数を数える
result2 = [x for x in result if x % 2 != 0]
print(len(result2))

2

In [20]:
#リストから奇数の要素だけを残す
result3 = [x for x in a if x%2 != 0]
print(result3)

[3, 1]

In [25]:
#０から９９までの数を0 1 ... 99の文字列に変換
list = [x for x in range(100)]
print(" ".join(list)) 
#joinの引数は文字列しか扱えないため、map関数を用いてstr型に変換してやる必要がある

TypeError: ignored

In [26]:
list = [x for x in range(100)]
print(" ".join(map(str,list)))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [29]:
#小数点第９位まで表示
print("{:.9f}".format(1.0/7.0))

0.142857143

クラスを実装する練習として、データを管理するクラスを実装してみましょう。 次のメソッドを全て持つクラス DataManager を記述して下さい。

- __init__(self, x, y, z): 3つの数 x, y, z をコンストラクタで受け取り、インスタンスの属性でそれぞれの値を記憶する。
- add_x(self, delta): x に delta だけ足して、値を更新する。
- add_y(self, delta): y に delta だけ足して、値を更新する。
- add_z(self, delta): z に delta だけ足して、値を更新する。
- sum(self): x, y, z の3つの数の合計値を返す。

In [0]:
class DataManager :
  def __init__(self,x,y,z) :
    self.x = x
    self.y = y
    self.z = z
  def add_x(self,delta):
    self.x += delta
  def add_y(self, delta):
    self.y += delta
  def add_z(self, delta):
    self.z += delta
  def sum(self):
    return self.x + self.y + self.z

In [31]:
data_manager = DataManager(2,3,5)
print(data_manager.sum())

10

In [34]:
data_manager.add_x(4)
print(data_manager.sum())

22

In [35]:
data_manager = DataManager(2,3,5)
print(data_manager.sum())
data_manager.add_x(4)
print(data_manager.sum())
data_manager.add_y(0)
print(data_manager.sum())
data_manager.add_z(-9)
print(data_manager.sum())

10
14
14
5